---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <main>
    <h1>Populære kunstnere</h1>
    <section class="popular_artists">
      <Card
        image="https://via.assets.so/album.png?id=1&q=95&w=360&h=360&fit=fill"
        navn="Miley Cyrus"
        rolle="Kunstner"
      />
      <Card
        image="https://via.assets.so/album.png?id=2&q=95&w=360&h=360&fit=fill"
        navn="Bentley"
        rolle="Kunstner"
      />
      <Card
        image="https://via.assets.so/album.png?id=3&q=95&w=360&h=360&fit=fill"
        navn="Rihanna"
        rolle="Kunstner"
      />
      <Card
        image="https://via.assets.so/album.png?id=4&q=95&w=360&h=360&fit=fill"
        navn="Jay-Z"
        rolle="Kunstner"
      />
      <Card
        image="https://via.assets.so/album.png?id=9&q=95&w=360&h=360&fit=fill"
        navn="The Black Eyed Peas"
        rolle="Kunstner"
      />
    </section>
  </main>

  <style>
    main {
      max-width: 1000px;
      margin: auto;
    }
    .popular_artists {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      color: white;
    }
  </style>
</Layout>
